*{
    background-color: rgb(51, 48, 48);
    padding: 0px;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    animation: fadeIn 0.8s;
    cursor: default;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
body{
    background-color: rgb(24, 23, 23);
    width: 100vw;
    height: 100vh;
}
#window{
    margin: 30px auto;
    margin-left: 7%;
    position: absolute;
    width: 86%;
    height: 90%;
    border-radius: 8px;
    background-color: green;
}
#controls{
    padding-top: 5px;
    background-color: green;
    text-align: center;
    color: rgb(51, 48, 48);
    font-weight: 700;
}
#controls img{
    position: relative;
    left: 33vw;
    top: 2px;
    background-color: green;

}
#innerBox{
    /* background-color: rgb(51, 48, 48); */
    margin: 7px;
    margin-top: 9px;
    height: 86%;
    width: 94.9%;
    padding: 27px;
}
#innerBox p{
    /* background-color: rgb(51, 48, 48); */
    font-size: 17px;
    width: 60%;
    font-family: 'Courier New', Courier, monospace;
    font-weight:550;
}
.green{
    color: green;
}
.reply{
    color: wheat;
}
#innerBox span{
    background-color: green;
    color: yellow;
    padding: 2px;
    animation: none;
}
#trial{
    color: white;
}
#missionDetails{
    display: none;
    width: 33vw;
    height: 79vh;
    position: absolute;
    right: 1vw;
    top: 7vh;
    border-left: 2px solid green;
}
#missionDetails h3{
    text-decoration: underline;
    text-align: center;
    color: green;
}
#images , #imageTitle{
    display: flex;
    justify-content: space-evenly;
    color: white;    
}
#images img , #window{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.line{
    width: 20vw;
    border-bottom: 2px solid green;
    margin-left: 6vw;
}
#instructions{
    margin: 2vw;
    margin-right: 0px;
    color: wheat;
}
#skipButton {
    width: auto;
    height: 3vh;
    border: 2px solid white;
    background-color: black;
    font-size: 15px;
    text-align: center;
    color: white;
    position: absolute;
    left: 40vw;
    top: 83vh;
    box-shadow: 5px 5px white;
    cursor: pointer;
}

#skipButton:hover{
    top: 83.5vh;
    left: 40.5vw;
    box-shadow: none;

}
#startButton {
    width: auto;
    height: 3vh;
    border: 2px solid white;
    background-color: black;
    font-size: 15px;
    text-align: center;
    color: white;
    position: absolute;
    left: 22vw;
    top: 76vh;
    box-shadow: 5px 5px white;
    cursor: pointer;

}

#startButton:hover{
    top: 76.5vh;
    left: 22.5vw;
    box-shadow: none;
}
#rotate{
    width: 100vw;
    height: 100vh;
    background-color: rgb(65, 98, 189);
    text-align: center;
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 2em;
}
@media (max-height: 900px) and (max-width: 400px) {
    *{
        overflow: hidden;
    }
#rotate{
    display: flex;
}
#rotate img{
    position: fixed;
    top: 32%;
    right: 24%;
    background-color: rgb(65, 98, 189);
}
}

@media (min-height: 901px) and (min-width:400px ) and (max-height: 1100px) and (max-width: 2000px) {
    body{
        font-size: 3em;
    }
    #skipButton {
        font-size: .4em;
        position: absolute;
        left: 40vw;
        top: 81vh;
    }
    #skipButton:hover{
        top: 81.5vh;
        left: 40.5vw;
        box-shadow: none;
    }
    #missionDetails{
        font-size: 0.5em;
    }
    #controls{
        font-size: 0.5em;
    }
    #imageTitle{
        font-size: 0.7em;
    }
    #startButton {
        font-size: 19px;
        left: 22vw;
        top: 75vh;
    }
    #startButton:hover{
        top: 75.5vh;
        left: 22.5vw;
        box-shadow: none;
    }
    #controls img{
        position: relative;
        left: 32vw;
    }
    #innerBox{
        height: 89%;
        width: 95.9%;
        font-size: 50px;
        font-weight: 200;
    }
    #innerBox p{
        font-weight: 600;
    }
}
@media (min-height: 300px) and (min-width: 700px) and (max-height: 700px) and (max-width: 1200px) {
    body{
        font-size: 3em;
    }
    #skipButton {
        font-size: .4em;
        position: static;
        left: 40vw;
        padding: 10px;
        top: 81vh;
    }
    #missionDetails{
        position: static;
        height: initial;
        width: initial;
        border-left: none;
    }
    #innerBox p{
        width: 93.9%;
    }
    #innerBox{
        padding-right: 0;
    }
    #startButton{
        position: static;
        padding: 10px;
    }
    #skipButton:hover{
        top: 81.5vh;
        left: 40.5vw;
        box-shadow: none;
    }
    #missionDetails{
        font-size: 0.5em;
    }
    #controls{
        font-size: 0.5em;
    }
    #imageTitle{
        font-size: 0.7em;
    }
    #startButton {
        font-size: 19px;
        left: 22vw;
        top: 75vh;
    }
    #startButton:hover{
        top: 75.5vh;
        left: 22.5vw;
        box-shadow: none;
    }
    #controls img{
        position: relative;
        left: 18vw;
    }
    #innerBox{
        height: auto;
        width: 93.9%;
        font-size: 50px;
        font-weight: 200;
    }
    #innerBox p{
        font-weight: 600;
    }
    #window{
        height: 85vh;
        overflow: scroll;
    }
    .line{
        width: 60vw;
    }
}